@model VotingViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-12">
        <section class="card bg-light">
            <div class="card-body">
                <h4 class="text-center">@Model.Question</h4>
                <hr />
                <div class="list-group">
                    @foreach (var optionData in Model.Options)
                    {
                         <a class="list-group-item list-group-item-action mb-2"
                            asp-action="ShowVotingResult" asp-route-id="@Model.Id"
                            asp-route-selectedOption="@optionData.Id">@optionData.Option</a>
                    }
                </div>
            </div>
            <a class="btn btn-primary" asp-action="AddOption" asp-route-id="@Model.Id">Add Option</a>
        </section>
    </div>
</div>